{% extends "base.html" %}
{% block main %}
<header class="page-head">
  <div class="wrap narrow">
    <h1>{{ title }}</h1>
    <p class="lede">{{ lede }} Need something designed? <a href="/contact/">Let’s talk</a>.</p>
  </div>
</header>
<div class="wrap-wide">
  <ul class="gallery">
    {% for src in items %}
    {% set sz = img_size(src) %}
    <li style="--r: {{ '%.3f' | format(sz[0] / sz[1]) }}; flex-grow: {{ (sz[0] / sz[1] * 100) | round(0, 'floor') | int }}">
      <a href="{{ thumb(src, 2000) }}" data-lightbox>
        <img src="{{ thumb(src, 800) }}" alt="{{ title }} sample" loading="lazy" width="{{ sz[0] }}" height="{{ sz[1] }}">
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
